services:
  db:
    image: postgres:latest
    container_name: social_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: social
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  cache:
    image: redis:latest
    container_name: social_cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - cache_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    

volumes:
  db_data:
  cache_data: