name: Audit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: verify dependecies
        run: go mod verify

      - name: build
        run: go build -v ./...

      - name: run go vet
        run: go vet ./...

      - name: install static check
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: run static check
        run: staticcheck ./...
